# SPDX-License-Identifier: MIT
# Excerpts of a real SDRangel ci32_le recording. They are compared byte for
# byte against a third-party decode, so nothing may rewrite a line ending in
# them on any platform's checkout.
*.sigmf-data binary
*.cf32 binary
